<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit client</title>
  <link rel="stylesheet" href="/css/output.css" type="text/css">
</head>
<body>
  <div class="isolate bg-white px-6 sm:py-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <img class="inline-block h-auto w-auto mb-5" src="./images/logo-black.png" alt="">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Edit client</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600"></p>
    </div>
    <form action="/add-client" method="POST" class="mx-auto mt-6 max-w-xl sm:mt-6" enctype="multipart/form-data">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="firstName" class="block text-sm font-semibold leading-6 text-gray-900">First name</label>
          <div class="mt-2.5">
            <input value="<%= client.firstName %>" type="text" name="firstName" id="firstName" autocomplete="given-name" required class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="lastName" class="block text-sm font-semibold leading-6 text-gray-900">Last name</label>
          <div class="mt-2.5">
            <input value="<%= client.lastName %>" type="text" name="lastName" id="lastName" autocomplete="family-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2.5">
            <input value="<%= client.email %>" type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="phoneNumber" class="block text-sm font-semibold leading-6 text-gray-900">Phone number</label>
          <div class="mt-2.5">
            <input value="<%= client.phoneNumber %>" type="tel" name="phoneNumber" id="phoneNumber" autocomplete="phoneNumber" placeholder="+216 55 132 133" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="passport" class="block text-sm font-semibold leading-6 text-gray-900">Passport</label>
          <div class="mt-2.5">
            <input value="<%= client.passport %>" type="text" name="passport" id="passport" autocomplete="passport" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="relative max-w-sm">
          <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date of birth</label>
          <input value="<%= client.dateOfBirth %>" datepicker type="text" name="dateOfBirth" id="dateOfBirth" class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-4 p-2.5" placeholder="Select date">
        </div>
        <div>
          <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
          <select id="country" name="country" required class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <option selected value="" disabled>Select a country</option>
            <% for (let country of countries){
              if (client.country == country.code){  %>
                <option value="<%= country.code %>" selected><%= country.name %></option>
              <% } else {  %>
                <option value="<%= country.code %>"><%= country.name %></option>
              <% }
            } %>
          </select>
        </div>
        <div>
          <label for="reservation" class="block text-sm font-medium text-gray-700">Reservation</label>
          <select id="reservation" name="reservation" required class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <option selected value="Booking">Booking</option>
            <option value="Airbnb">AirBnb</option>
            <option value="Recommendation">Recommendation</option>
          </select>
        </div>
        <div class="relative max-w-sm">
          <label for="arrivalDate" class="block text-sm font-medium text-gray-700">Arrival</label>
          <input value="<%= client.arrivalDate %>" datepicker type="text" name="arrivalDate" id="arrivalDate" required class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-4 p-2.5" placeholder="Select date">
        </div>    
        <div class="relative max-w-sm">
          <label for="departureDate" class="block text-sm font-medium text-gray-700">Departure</label>
          <input value="<%= client.departureDate %>" datepicker type="text" name="departureDate" id="departureDate" required class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-4 p-2.5" placeholder="Select date">
        </div> 
        <div class="sm:col-span-2">
          <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Price (Per night)</label>
          <div class="relative mt-2 rounded-md shadow-sm">
            <input type="number" name="price" id="price" required class="block w-full rounded-md border-0 py-1.5 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="0.00">
            <div class="absolute inset-y-0 right-0 flex items-center">
              <label for="currency" class="sr-only">Currency</label>
              <select id="currency" name="currency" value="TND" class="h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                <option value="TND">TND</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
              </select>
            </div>
          </div>
        </div> 
        <div class="sm:col-span-2">
          <label class="block text-sm font-medium leading-6 text-gray-900">Total price</label>
          <h1 id="total-price" class="text-2xl font-bold">0 TND</h1>
        </div>
        <div>
          <label class="text-base font-medium text-gray-900">Accommodation type</label>
          <p class="text-sm leading-5 text-gray-500"></p>
          <fieldset class="mt-4">
            <legend class="sr-only">Accommodation type</legend>
            <div class="space-y-4">
              <div class="flex items-center">
                <input id="bed" name="accommodation" value="bed" type="radio" checked class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="bed" class="ml-3 block text-sm font-medium text-gray-700">Bed</label>
              </div>
        
              <div class="flex items-center">
                <input id="room" name="accommodation" value="room" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="room" class="ml-3 block text-sm font-medium text-gray-700">Room</label>
              </div>
            </div>
          </fieldset>
        </div>  
        <div>
          <label class="text-base font-medium text-gray-900">Extras</label>
          <p class="text-sm leading-5 text-gray-500"></p>
          <fieldset class="mt-4">
            <legend class="sr-only">Extras</legend>
            <div class="space-y-4">
              <div class="flex items-center">
                <input id="breakfast" name="breakfast" type="checkbox" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="breakfast" class="ml-3 block text-sm font-medium text-gray-700">Breakfast</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="sm:col-span-2">
          <label for="activities" class="text-base font-medium text-gray-900">Activities</label>
          <div class="mt-1">
            <textarea rows="4" name="activities" id="activities" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
              <%= client.activities %>
            </textarea>
          </div>
        </div>        
        <div class="sm:col-span-2">
          <label for="cover-photo" class="text-base font-medium text-gray-900">Passport photo</label>
          <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
            <div class="space-y-1 text-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div class="flex text-sm text-gray-600">
                <label for="passportPhoto" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span>Upload a file</span>
                  <input id="passportPhoto" name="passportPhoto" type="file" class="sr-only">
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
      </div>
    </form>
  </div> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>
  <script src="/js/form.js"></script>
</body>
</html>